* {
  box-sizing: border-box;
}
.wrap {
    display: flex;
    height: 770px;
}
.categories {
    min-width: 20%;
    border-right: 1px solid #ccc;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
    width: 713px;
}
.product {
    min-width: 35%;
    max-width: 35%;
    display: flex;
    flex-direction: column;
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .category-item {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 0, 120);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 15px;
  }
  
  .category-item:hover {
    color: red;
    text-decoration: underline;
  }
  
  .category-item:last-child {
    border-bottom: none;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }

  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card_img {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .card_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card__name {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  
  .card__price {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    margin-top: 5px;
  }
  
  .product__info{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .product__img{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }

  .product__img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .product__description{
    font-size: 20px;
    margin: 30px 20px;
    text-align: justify;
  }

  .product__buy{
    display: flex;
    justify-content: space-between;
  }

  .product__price{
    font-size: 30px;
    color: #007bff;
  }

  .product__button{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }

  .product__button:hover {
    background-color: darkred;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.373);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal__message {
    width: 700px;
    height: 500px;
    padding: 0 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal__text {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .modal__text img {
    width: 50px;
    position: relative;
    top: 10px;
  }

  .modal__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    font-size: 20px;
    line-height: 30px;
    width: 80%;
  }
  
  .modal__prod {
    display: flex;
    align-items: center;
  }

  #modalProdName {
    margin-left: 25px;
    color: #007bff;
  }
  
  .modal__prod img {
    width: 100px; 
    height: auto;
    margin-right: 10px;
  }
  
  .modal__price {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #8e8e8e;
  }

  .modal__price span {
    color: black;
  }
  
  .modal__shipping div {
    margin-top: 15px;
  }
  
  .modal__shipping {
    color: #8e8e8e;
  }

  .modal__shipping div > span:nth-child(2){
    color: black;
  }

  .modal__button {
    background-color: rgb(94, 207, 53);
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .modal__button:hover {
    background-color: rgb(18, 137, 38);
  }

  .display__none {
    display: none !important;
  }

  .form {
    max-width: 400px;
    margin: 20px auto;
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .formButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .little-card {
    border: 1px solid rgba(126, 120, 120, 0.236);
    border-radius: 5px;
    width: 400px;
    height: 150px;
    display: flex;
    margin: 0 auto;
  }

  .little-image {
    width: 50%;
    height: 0;
    padding-bottom: 30%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px 0 0 20px;
  }

  .little-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .little-info {
    margin-left: 10px;
  }

  .little-name {
    font-size: 25px;
  }

  .little-price {
    font-size: 20px;
    color: #007bff;
  }

  small {
    font-size: 15px;
    color: rgb(246, 5, 5);
  }